# Repository-driven (keep it limited to exactly what is needed)
.react-router/
artifacts/
dist/
generated-src/
node_modules/
kendo-ui-license.txt

# Personal tools (feel free to add your own)
*.local
.idea/
