// Import our overrides, which are each organized into files matching Kendo foundation names.
@use "./theme/typography" as *;

// Import Kendo styles, passing our overrides (1:1 mapping).
@use "@progress/kendo-theme-default/scss/index" as * with (
		//#region Typography
		$kendo-enable-typography: true,

		$kendo-font-size: $kendo-font-size,
		$kendo-font-size-xxs: $kendo-font-size-xxs,
		$kendo-font-size-xs: $kendo-font-size-xs,
		$kendo-font-size-sm: $kendo-font-size-sm,
		$kendo-font-size-md: $kendo-font-size-md,
		$kendo-font-size-lg: $kendo-font-size-lg,
		$kendo-font-size-xl: $kendo-font-size-xl,

		$kendo-line-height: $kendo-line-height,
		$kendo-line-height-xs: $kendo-line-height-xs,
		$kendo-line-height-sm: $kendo-line-height-sm,
		$kendo-line-height-md: $kendo-line-height-md,
		$kendo-line-height-lg: $kendo-line-height-lg,
		$kendo-line-height-em: $kendo-line-height-em,

		$kendo-font-family-sans: $kendo-font-family-sans,
		$kendo-font-family-serif: $kendo-font-family-serif,
		$kendo-font-family-sans-serif: $kendo-font-family-sans-serif,
		$kendo-font-family-monospace: $kendo-font-family-monospace,
		$kendo-font-family: $kendo-font-family,
		//#endregion
	);

// Actually include the Kendo styles.
@include kendo-theme--styles();

// Italicize placeholders
input::placeholder,
textarea::placeholder {
	font-style: italic;
}
